* {
    box-sizing: border-box;
}


/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #14202e;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 38px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #183153;
    color: #f2f2f2;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: #ffbf00;
    font-weight: bold;
  }
  
  .topnav a.active:hover {
    color: #f2f2f2;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
    
body {
    font-family: 'Poppins', sans-serif;
    background-color: #e8e8e8;
    color: #14202e;
    font-size: 16px;
    scroll-behavior: smooth;
    word-wrap:break-word;
    margin: 0;
    position: relative;
}

.light-bg{
    color: #14202e;
    background-color: #e8e8e8;
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 3%;
    min-height: 50vh;
}
.space{
    height: 20vh;
}
.about{
    min-height: 100vh;
    margin: auto;
}

.page-title{
    text-align: center;
    font-size: 36px;
    padding: 10px 60px;
    font-weight: bold;
}

.members{
    text-align: center;
    font-size: 24px;
}

.page-description{
    padding: 10px 20rem;
    text-align: justify;
    font-size: 18px;
}

/* Float four columns side by side */
.column {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin: auto;
    width: 350px;
}

/* Remove extra left and right margins, due to padding */
.row {
    text-align: center;
    margin: 0;
    padding: 0 7px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style for hamburger icon */
.topnav .icon {
    display: none; /* Hide icon by default */
  }
  
/* Style the counter cards */
.card {
    overflow: hidden;
    border-radius: 25px;
    text-align: center;
    background-color: #14202e;
    color: #e8e8e8;
    box-shadow: 2px 2px 15px #14202ec5, 2px 2px 2px #14202ec5;
    margin-bottom: 10%;
    padding: 55px 18px;
}

.card:hover{
    background-color: #1a2838;
}

.cname{
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffbf00;
}


.ctext{
    padding: 0 20px;
    font-size: 14px;
    opacity: 84%;
    text-align: center;
}

.profile-pic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: #14202e solid 1px;
    box-shadow: 1px 1px 25px #616e80;
}

footer{
    text-align: center;
    font-size: 13px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #e8e8e8;
    background-color: #14202e;
}

  /* Media query for small screens */
  @media screen and (max-width: 600px) {
    /* Show hamburger icon */
    .topnav a:not(:first-child) {
      display: none; /* Hide all links except first child */
    }
    .topnav a.icon {
      float: right; /* Float icon right */
      display: block; /* Show icon */
    }
  }
  
  /* Style for responsive menu */
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative; /* Set position to relative */
    }
    .topnav.responsive .icon {
      position: absolute; /* Set position to absolute */
      right: 0; /* Align icon to right */
      top: 0; /* Align icon to top */
    }
    .topnav.responsive a {
      float: none; /* Remove float */
      display: block; /* Display links as block */
      text-align: left; /* Align text to left */
    }
  }
/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    padding-bottom: 20px;
  }
  .page-title{
    font-size: 26px;
    font-weight: bold;
  }
  .page-description{
    padding: 25px 40px;
    font-size: 15px;
}
footer{
    font-size: 10px;
}
}