/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    background-color: #14202e;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 38px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #183153;
    color: #f2f2f2;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: #ffbf00;
    font-weight: bold;
  }
  
  .topnav a.active:hover {
    color: #f2f2f2;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  td{
    text-align: left;
  }

#printButton {
  position: absolute;
  border: none;
  border-radius: 7px;
  padding: 8px 12px;
  font-weight: bold;
  background-color: #daa520;
  color: #14202e;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
#printButton:hover {
  border-radius: 50px;
  background-color: #ffbf00;
  color: #183153;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #14202e;
    font-size: 16px;
    scroll-behavior: smooth;
    word-wrap:break-word;
    margin: 0;
    position: relative;
    text-align: center;
    min-height: 100vh;
}

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .page-title{
    text-align: center;
    font-size: 36px;
    padding: 10px 60px;
    font-weight: bold;
}

.page-description{
    padding: 5px 120px;
    text-align: center;
    font-size: 18px;
}

.row{
    padding: 2rem 1.5rem;
}

.cpicture{
    width: 100%;
    height: auto;
}

.cposition{
    font-weight: bold;
}

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 10px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  h2{
    color: #ffbf00;
  }
  h3{
    color: #152d49;
    padding-top: 25px;
  }
  .card {
    box-shadow: 0 6px 12px 0 #6363639f;
    background-color: #14202e;
    color: #f2f2f2;
    border-radius: 0 0 50px 0 ;
  }
  .card:hover {
    box-shadow: 0 6px 12px 0 #3333339f;
    background-color: #183153;
    color: #ffffff;
  }
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: #e8e8e8;
  }
  table {
    background-color: #ffffff;
    margin: 0 auto; /* Center the table horizontally */
    width: 70%; /* Adjust the width as desired */
    border-collapse: collapse; /* Collapse table borders */
  }

  th, td {
      border: 1px solid black; /* Add border to table cells */
      padding: 8px; /* Add padding to table cells for spacing */
  }
  /* Media query for small screens */
  @media screen and (max-width: 600px) {
    /* Show hamburger icon */
    .topnav a:not(:first-child) {
      display: none; /* Hide all links except first child */
    }
    .topnav a.icon {
      float: right; /* Float icon right */
      display: block; /* Show icon */
    }
  }
  
  /* Style for responsive menu */
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative; /* Set position to relative */
    }
    .topnav.responsive .icon {
      position: absolute; /* Set position to absolute */
      right: 0; /* Align icon to right */
      top: 0; /* Align icon to top */
    }
    .topnav.responsive a {
      float: none; /* Remove float */
      display: block; /* Display links as block */
      text-align: left; /* Align text to left */
    }
    .page-title{
      font-size: 26px;
      font-weight: bold;
    }
    .page-description{
      padding: 25px 40px;
      font-size: 15px;
  }
  #printButton {
    padding: 5px 7px;
    top: 20px;
    right: 100px;
  }
}