/*
  Perez, John Patrick A.
  BSIT-3F
*/

html, body {
  background-color: #f2f2f2;
  color: #14202e;
  font-size: 18px;
  scroll-behavior: smooth;
  margin: 0;
  position: relative;
  min-height: 90vh;
  font-family: 'Poppins', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .box{
    background-color: #fafafa;
    padding: .5rem 1rem 2rem 1rem;
    margin: 1rem 0;
    width: 60vh;
  }
  h1{
    margin-top: 5rem;
    color: #14202e;
    font-weight: bold;
  }
  h2{
    text-align: center;
  }
  form{
  margin: 10px;
  }

  input{
    text-align: left;
  }

  #submitBtn {
    background-color: #183153;
    color: #ffbf00;
    margin-top: 15px;margin-bottom: 5px;
    width: 145px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
  }
  
  #submitBtn:hover {
      background: #14202e;
      color: #f2f2f2;
  }
  #submittBtn {
    background-color: #183153;
    color: #ffbf00;
    margin-top: 5px;margin-bottom: 25px;
    width: 160px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
  }
  
  #submitBtn:hover {
      background: #223b5e;
      color: #ffcf3f;
  }

  a{
    color: darkcyan;
    margin-bottom: 25px;
  }
  a:visited{
    color: darkcyan;
  }
  a:hover{
    color: #03aaaa;
  }


  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
  
  h1{
    margin-top: 3rem;
    font-size: 24px;
  }
  h2{
    margin-top: 25px;
    font-size: 20px;
  }
  body{
    font-size: 16px;
  }
  .box{
    background-color: #fafafa;
    padding: .5rem 1rem 2rem 1rem;
    margin: 1rem 0;
    width: 80vw;
  }
  a{
    font-size: 14px;
  }
}